<footer data-elementor-type="footer" data-elementor-id="31645" class="elementor elementor-31645 elementor-location-footer" data-elementor-post-type="elementor_library">
  <div class="elementor-element elementor-element-c942d34 e-con-full e-flex e-con e-parent" data-id="c942d34" data-element_type="container" data-e-type="container">
    <div class="elementor-element elementor-element-48cac9a e-flex e-con-boxed e-con e-child" data-id="48cac9a" data-element_type="container" data-e-type="container">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-ad46dbd e-con-full e-flex e-con e-child" data-id="ad46dbd" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-3bd3771 elementor-widget elementor-widget-theme-site-logo elementor-widget-image" data-id="3bd3771" data-element_type="widget" data-e-type="widget" data-widget_type="theme-site-logo.default">
            <div class="elementor-widget-container">
              <a href="https://www.tictap.me/">
                <img width="181" height="70" src="https://www.tictap.me/wp-content/uploads/2021/02/TicTAP-logo_completo_vector-180px-01-33x13.png" class="attachment-full size-full wp-image-11319" alt="" srcset="https://www.tictap.me/wp-content/uploads/2021/02/TicTAP-logo_completo_vector-180px-01.png 181w, https://www.tictap.me/wp-content/uploads/2021/02/TicTAP-logo_completo_vector-180px-01-33x13.png 33w" sizes="(max-width: 181px) 100vw, 181px" />
              </a>
            </div>
          </div>
          <div class="elementor-element elementor-element-4a88cf8 elementor-widget__width-inherit elementor-widget elementor-widget-button" data-id="4a88cf8" data-element_type="widget" data-e-type="widget" data-widget_type="button.default">
            <div class="elementor-widget-container">
              <div class="elementor-button-wrapper">
                <a class="elementor-button elementor-button-link elementor-size-sm elementor-animation-grow" href="https://admin.tictap.me/#/login?hl=es">
                  <span class="elementor-button-content-wrapper"><span class="elementor-button-text">Log in</span></span>
                </a>
              </div>
            </div>
          </div>
          <div class="elementor-element elementor-element-1321ab0 e-con-full e-flex e-con e-child" data-id="1321ab0" data-element_type="container" data-e-type="container">
            <div class="elementor-element elementor-element-f2a8c02 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container">Calabria, 173, 6º 4ª, 08015 Barcelona</div></div>
            <div class="elementor-element elementor-element-abac531 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container">Phone : <a style="color: #00b0ff;" href="tel:0034934599869">+34 93 459 98 69</a></div></div>
            <div class="elementor-element elementor-element-f234251 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container">Whatsapp: <a style="color: #00b0ff;" href="tel:0034611517590">+34 611517590</a></div></div>
            <div class="elementor-element elementor-element-65bec14 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container">e-mail: <a style="color: #00b0ff;" href="mailto:info@tictap.me">info@tictap.me</a></div></div>
          </div>
        </div>
        <div class="elementor-element elementor-element-72e37e7 e-con-full e-flex e-con e-child" data-id="72e37e7" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-f83ddcb elementor-widget elementor-widget-heading"><div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">Nuestras soluciones</h4></div></div>
          <div class="elementor-element elementor-element-e123a70 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/asset-passport/">Asset Passport</a></div></div>
          <div class="elementor-element elementor-element-cd5023d elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/plataforma-para-la-identificacion-y-trazabilidad-de-activos-industria/">Mantenimiento industrial</a></div></div>
          <div class="elementor-element elementor-element-95c631e elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/stock/">Gestión de stock</a></div></div>
          <div class="elementor-element elementor-element-bd38b27 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/gestion-de-tu-instalacion/">Gestión de instalaciones</a></div></div>
          <div class="elementor-element elementor-element-13aeae4 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/gestion-equipo-proteccion-personal/">Health &amp; safety</a></div></div>
        </div>
        <div class="elementor-element elementor-element-74633a4 e-con-full e-flex e-con e-child" data-id="74633a4" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-2ae344e elementor-widget elementor-widget-heading"><div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">Links de interés</h4></div></div>
          <div class="elementor-element elementor-element-76a7445 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/precios/">Precios</a></div></div>
          <div class="elementor-element elementor-element-faea074 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/contacto/">Contacto</a></div></div>
          <div class="elementor-element elementor-element-e25878d elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://help.tictap.me/shelves/tictap-user-manual">Academy</a></div></div>
          <div class="elementor-element elementor-element-7ffb54c elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/blog/">Blog</a></div></div>
          <div class="elementor-element elementor-element-5275e59 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/quienes-somos/">Quiénes Somos</a></div></div>
        </div>
        <div class="elementor-element elementor-element-66eb432 e-con-full e-flex e-con e-child" data-id="66eb432" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-a37fb3d elementor-widget elementor-widget-heading"><div class="elementor-widget-container"><h4 class="elementor-heading-title elementor-size-default">Legal</h4></div></div>
          <div class="elementor-element elementor-element-e9ffce5 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/politica-de-privacidad/">Política de privacidad</a></div></div>
          <div class="elementor-element elementor-element-a412c5d elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/terminos-y-condiciones/">Términos y condiciones</a></div></div>
          <div class="elementor-element elementor-element-4013e21 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/politica-cookies/">Cookies</a></div></div>
          <div class="elementor-element elementor-element-d6224e6 elementor-widget elementor-widget-text-editor"><div class="elementor-widget-container"><a style="margin-bottom: 0; color: #00b0ff;" href="https://www.tictap.me/aviso-legal/">Aviso legal</a></div></div>
        </div>
      </div>
    </div>
    <div class="elementor-element elementor-element-80023ad e-flex e-con-boxed e-con e-child" data-id="80023ad" data-element_type="container" data-e-type="container">
      <div class="e-con-inner">
        <div class="elementor-element elementor-element-86e9a61 e-con-full e-flex e-con e-child" data-id="86e9a61" data-element_type="container" data-e-type="container">
          <div class="elementor-element elementor-element-c9d6590 elementor-widget elementor-widget-image" data-id="c9d6590" data-element_type="widget" data-e-type="widget" data-widget_type="image.default">
            <div class="elementor-widget-container">
              <img width="671" height="227" src="https://www.tictap.me/wp-content/uploads/2021/04/enisa_logo_nuevo.jpg" class="attachment-large size-large wp-image-27932" alt="" />
            </div>
          </div>
        </div>
        <div class="elementor-element elementor-element-0ded46c e-flex e-con-boxed e-con e-child" data-id="0ded46c" data-element_type="container" data-e-type="container">
          <div class="e-con-inner">
            <div class="elementor-element elementor-element-5b845e3 elementor-widget elementor-widget-text-editor" data-id="5b845e3" data-element_type="widget" data-e-type="widget" data-widget_type="text-editor.default">
              <div class="elementor-widget-container">2026, Bretenbits S.L. ©</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
